<div id="<%= dom_id carrier %>">
  <p>
    <strong>Name:</strong>
    <%= carrier.name %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= carrier.logo %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= carrier.code %>
  </p>

</div>
