<h1>Editing flight offer</h1>

<%= render "form", flight_offer: @flight_offer %>

<br>

<div>
  <%= link_to "Show this flight offer", @flight_offer %> |
  <%= link_to "Back to flight offers", flight_offers_path %>
</div>
