<p style="color: green"><%= notice %></p>

<h1>Flight offers</h1>

<div id="flight_offers">
  <% @flight_offers.each do |flight_offer| %>
    <%= render flight_offer %>
    <p>
      <%= link_to "Show this flight offer", flight_offer %>
    </p>
  <% end %>
</div>

<%= link_to "New flight offer", new_flight_offer_path %>
